Repository alejodeveloper/algorithms-practices, pull requests merged in 2020-04, with the labels that each got.

#1 [add] previous solved problems from hacker rank and jobs interviews
  .gitignore
  python/alejo/hackerrank_balanced_brackets.py
  python/alejo/hackerrank_contact_list.py
  python/alejo/hackerrank_medium_point.py
  python/alejo/how_many_letters_in_word.py
Labels: python

#2 [add] algorithm to solve Tree: Height of a Binary Tree
  python/alejo/hackerrank_binary_tree.py
  python/alejo/hackerrank_top_view_tree.py
Labels: python

#3 [java] Coding algoritms for Java Challenges in HackerRank
  java/ivandgv92/Binary Tree Height.java
Labels: java

#5 [Add] Python solution for Leet Code reverse int problem
  python/alejo/hackerrank_top_view_tree.py
  python/alejo/leetcode_reverse_int.py
Labels: enhancement, hard, python

#8 [add] add contributor profile data mauro
  README.md
Labels: documentation, easy

#10 Java at LeetCode Atoi String
  .gitignore
  java/ivandgv92/StringAtoi.java
Labels: java, medium

#9 [add] leet code string to Integer (atoi)
  python/alejo/leetcode_string_to_number_atoi.py
Labels: medium, python

#7 [add] add exercise of print lcd numbers in different lines
  python/alejo/numeros_lcd.py
Labels: bug, medium, python

#11 [ADD] HackerRank Repeated String
  python/alejo/hackerrank_repeated_string.py
Labels: easy, hackerrank

#12 [HackerRank] Running Time and Complexity
  python/alejo/hackerrank_running_time_complex.py
Labels: hackerrank, medium, python

#13 [update] add algorithm for mark and toys problem
  python/alejo/hackerran_mark_and_toys.py
Labels: easy, hackerrank, python

#14 [add] Hacker Rank Mark and Toys
  python/mauro/hackerrank_marl_and_toys.py
Labels: easy, python

#15 [add] add hacker rank sockets market
  python/alejo/hackerrank_socket_merchant.py
Labels: easy, hackerrank, python

#16 [add]Sock Merchant HackerRank Java
  java/ivandgv92/Sock Merchant.java
Labels: easy, hackerrank, java
